<h1>Reset Password</h1>

<form method="POST" action="/reset_password/send_email">
    <input type="email" name="email" placeholder="Enter Registered email" required>
    <button type="submit">Submit</button>
</form>